<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421042551402-94d09b3fmaghucp5r55t0345ulptklat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421042551402-94d09b3fmaghucp5r55t0345ulptklat</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAEPt0G0U56fwpG4P871F9fNJb7Q91qI</string>
	<key>GCM_SENDER_ID</key>
	<string>421042551402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.porfie</string>
	<key>PROJECT_ID</key>
	<string>porfie-f0937</string>
	<key>STORAGE_BUCKET</key>
	<string>porfie-f0937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421042551402:ios:7f7332bd5662e362106813</string>
</dict>
</plist>